<div class="logo">
	<img src="img/logo.png"/>
</div>

<form>
	<input type="text" ng-model='keyword' placeholder="유저 닉네임...유저 닉네임...유저 닉네임...유저 닉네임...검색..." ng-keydown="$event.which === 13 ? search(keyword) : ''">
</form>



<div class="userContainer" ng-repeat="stack in found">
	<div class="userStack">
		<p>{{ stack.playerOrTeamName }}</p>
		<p>{{ stack.leaguePoints }}</p>
	</div>
	<div class="userStack">
		<p>{{ stack.wins }}</p>
		<p>{{ stack.losses }}</p>
	</div>
	<div class="userStack">
		{{ stack.division }}
	</div>
</div>
